<div>
  <h3>Merge Articles</h3>
  <div class='clearfix'>
    <label for="merge_id" style="width: 55px; margin-right: 5px;"><%= _("Article ID")%></label>
    <div class='input'>
      <input class="large" id="merge_id" name="merge_id" size="30" type="text">
    </div>
  </div>
  <br />
  <button class="btn">Merge</button>
</div>
